.RepoDetails {
  background: #DAD2CA;
  border: 3px solid white;
  border-radius: 5px;
  margin: 50px auto;
  padding: 10px;
  padding-top: 0;
  width: 300px;
}

.RepoDetails-header {
  position: relative;
}

.RepoDetails-header span {
  right: 0;
}

.RepoDetails-header h2 {
  display: inline-block;
}

.RepoDetails-infoblock {
  border: 2px solid whitesmoke;
  border-radius: 5px;
  margin-bottom: 20px;
  position: relative;
  word-wrap: break-word;
}

.RepoDetails-infoblock a {
  color: #a54934;
  font-weight: bold;
  text-decoration: none;
}

.RepoDetails-infoblock-header {
  background: whitesmoke;
  border-radius: 3px;
  display: inline-block;
  padding: 0px 5px;
  position: absolute;
  top: -26px;
  left: 14px;
}

.RepoDetails-infoblock-content {
  padding: 0 10px;
}

.RepoDetails-infoblock-content:first-letter {
  text-transform: uppercase;
}

.RepoDetails-infoblock:nth-child(4) .RepoDetails-infoblock-content:first-letter {
  text-transform: lowercase;
}

.RepoDetails-back-btn {
  text-decoration: none;
  color: lightcoral;
  font-weight: bold;
  padding: 5px;
}

.RepoDetails-back-btn:hover {
  background: lightcoral;
  border-radius: 3px;
  color: whitesmoke;
}
